.card-container {
  flex: 1 0 20%;
  padding: 20px 0;
}

.card-body {
  margin: 0 auto;
  /* padding: 3% 0; */
  width: 400px;
  height: 250px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}

.card-body-container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-body-item {
  width: inherit;
  padding: 10px 0;
}

img {
  display: block;
  border: 1px solid #eee;
  margin: 5% auto;
  /* padding: 5% 0; */
  width: 10rem;
}

.card-body-item li {
  font-size: 2rem;
  list-style: none;
  text-align: center;
}

hr {
  width: 50%;
  /* margin-top: 20px; */
}
