.card-container{
    flex: 1 0 20%;
    justify-content: center;
    padding: 20px 0;
}

.card-body{
    margin: 0 auto;
    padding: 3% 0;
    width: 20vw; 
    height: 200px;
    min-width: 10vw;
    border: 1px solid black;
    border-radius: 20px;
}

img{
    display: block;
    margin: 0 auto;
    padding: 2px 0;
    width: 10rem;
}

li{
    list-style: none;
    text-align: center;
}

hr{
    width: 50%;
}