.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overlay-show {
  animation-name: modalOverlayFadeIn;
  animation-duration: 0.3s;
}
.modal-overlay-hide {
  animation-name: modalOverlayFadeOut;
  animation-duration: 0.3s;
}

.modal-window {
  width: 700px;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(200px);
  overflow-y: auto;
}

.modal-show {
  animation-name: modalFadeIn;
  animation-duration: 0.5s;
}

.modal-hide {
  animation-name: modalFadeOut;
  animation-duration: 0.2s;
}

.modal-header {
  margin: 5px 10px;
  padding: 0 5px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #eee;
}

.modal-title {
  font-size: 2rem;
  justify-self: end;
  flex-grow: 2;
  text-align: center;
}

.modal-close {
  cursor: pointer;
  font-size: 2rem;
  /* flex-grow: .2; */
}

.modal-body {
  padding: 10px;
  min-height: 250px;
  height: 500px;
  overflow: auto;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  border-top: 2px solid #eee;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
}

@keyframes modalOverlayFadeIn {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}

@keyframes modalOverlayFadeOut {
  from {
    background: rgba(0, 0, 0, 0.5);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(200px);
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    transform: translateY(200px);
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}
