.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes modalFade {
  from {
    transform: translateY(-200px);
    /* transition: transform 0.2s ease-in; */
    opacity: 0;
  }
  to {
    transform: translateY(200px);
    transition: transform 0.2s ease-in;
    opacity: 1;
  }
}

.modal-window {
  animation-name: modalFade;
  animation-duration: 0.5s;
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(200px);
  overflow-y: auto;
}

.modal-header {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.modal-title {
  font-size: 2rem;
}

.modal-close {
  cursor: pointer;
  font-size: 2rem;
}

.modal-body {
  padding: 10px;
  height: 250px;
  overflow: auto;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  border-top: 2px solid #eee;
  padding: 5px 0;
  display: flex;
  justify-content: space-evenly;
}
