nav {
  padding: 0;
  margin: 0;
  height: 7vh;
  background-color: rgb(25, 35, 63);
}

.navbar-links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  list-style-type: none;
  margin: 1.75vh 0;
  font-size: 3vh;
}

.navbar-link a {
  text-decoration: none;
  padding: 1.6vh 6vw;
  color: rgb(228, 220, 220);
}
.navbar-link a:hover {
  background-color: rgb(9, 14, 29);
}

@media only screen and (max-width: 500px) {
  nav{
    height: 30vh;
  }

  .navbar-links {
    flex-direction: column;
  }
  .navbar-link {
    margin: 0;
  }
  .navbar-link a {
    display: block;
  }
}
